<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Genebank Distribution</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>

<body ng-app="genebanksDistributionApp" ng-controller="MainCtrl">
  <div class="main" snapscroll enable-arrow-keys snap-index="snapIndex" before-snap="beforeSnap(snapIndex)" after-snap="afterSnap(snapIndex)"
    snap-animation="snapAnimation" ng-swipe-up="swipeUp()" ng-swipe-down="swipeDown()">
    <div class="content-slide">
      <div class="container container-table">
        <div class="row vertical-center-row">
          <div class="text-center col-md-10 col-md-offset-1">
            <h1>
              Distributions of crop diversity from genebanks worldwide:<br />
              who benefits from whose seeds?
            </h1>
            <p class="text-center home_text">
              A project by by <span class="home_name">Colin K. Khoury</span>, <span class="home_name">Harold A. Achicanoy</span> 
              and <span class="home_name">Steven Sotelo</span> at the <span class="home_name">International Center for Tropical Agriculture (CIAT)</span>, 
              and by <span class="home_name">Amit Kohli</span> at ACDI/VOCA,
            </p>
            <p class="text-center home_text">
              Version 1.0 (September 2016). This work is licensed under a Creative Commons Attribution 4.0 International (<span class="home_name">CC BY 4.0</span>).
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="content-slide" ng-controller="SankeyCtrl">
      <div id="chart_sankey"></div>
    </div>
    <div class="content-slide" ng-controller="MapCtrl">      
      <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <ui-gmap-layer type="Data" show="map.showData" onCreated="map.dataLayerCallback"></ui-gmap-layer>
      </ui-gmap-google-map>
    </div>
  </div>
  <ul class="indicators">
    <li ng-repeat="n in [0,1,2]">
      <a href="#{{n}}" ng-click="$parent.snapIndex=n"><span ng-class="{active: snapIndex == n}"></span></a>
    </li>
  </ul>


  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <!--
  <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>
  -->

  <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-scrollie/dist/angular-scrollie.js"></script>
  <script src="bower_components/angular-snapscroll/dist/angular-snapscroll.js"></script>
  <script src="bower_components/angular-wheelie/dist/angular-wheelie.js"></script>
  <script src="bower_components/angular-swipe/dist/angular-swipe.js"></script>
  <script src="bower_components/d3/d3.js"></script>
  <script src="bower_components/d3.chart/d3.chart.js"></script>
  <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
  <script src="bower_components/lodash/lodash.js"></script>
  <script src="bower_components/markerclustererplus/src/markerclusterer.js"></script>
  <script src="bower_components/google-maps-utility-library-v3-markerwithlabel/dist/markerwithlabel.js"></script>
  <script src="bower_components/google-maps-utility-library-v3-infobox/dist/infobox.js"></script>
  <script src="bower_components/google-maps-utility-library-v3-keydragzoom/dist/keydragzoom.js"></script>
  <script src="bower_components/js-rich-marker/src/richmarker.js"></script>
  <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/main.js"></script>
  <script src="scripts/controllers/sankey.js"></script>
  <script src="scripts/controllers/map.js"></script>
  <script src="scripts/services/genebankfactory.js"></script>

  <script src="scripts/libs/sankey/sankey.js"></script>
  <script src="scripts/libs/sankey/d3.chart.sankey.js"></script>
  <!-- endbuild -->
</body>

</html>